.nav {
	font-size: 18px;
}
.nav__item a {
	color: #310;
	transition: all .05s ease-in;
}
.nav__item a.active {
	color: #fff;
}
.nav__item:not(.nav__item:first-child) {
	margin-top: 10px;
}
.nav__item:last-child {
	margin-top: 30px !important;
}
